# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

# loading data from python.db database
con = sqlite3.connect('python1.db')

# Read 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql_query("SELECT * from school", con)
student_data = pd.read_sql_query("SELECT * from student", con)

In [7]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [37]:
# Create a District Summary
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage]
})

print("\nDistrict Summary:")
print(district_summary_df.to_markdown(numalign="left", stralign="left"))

District Summary:
|    | Total Schools   | Total Students   | Total Budget   | Average Math Score   | Average Reading Score   | % Passing Math   |
|:---|:----------------|:-----------------|:---------------|:---------------------|:------------------------|:-----------------|
| 0  | 15              | 39170            | 8.29323e+10    | 78.9854              | 81.8778                 | 74.9809          |

In [9]:
# Total number of schools
total_schools = len(school_data_complete['school_name'].unique())
print("Total number of schools:", total_schools)

Total number of schools: 15

In [11]:
# Total number of students
total_students = school_data_complete['student_name'].count()
print("Total number of students:", total_students)

Total number of students: 39170

In [19]:
# Total budget
total_budget = school_data_complete['budget'].sum()
print("Total budget:",total_budget,"$")

Total budget: 82932329558 $

In [21]:
# Average math score
average_math_score = school_data_complete['math_score'].mean()
print("Average math score:", average_math_score)

Average math score: 78.98537145774827

In [23]:
# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()
print("Average reading score:", average_reading_score)

Average reading score: 81.87784018381414

In [25]:
# Overall average score
overall_average_score = (average_math_score + average_reading_score) / 2
print("Overall average score:", overall_average_score)

Overall average score: 80.43160582078121

In [27]:
# Percentage of passing math (70 or greater)
passing_math_percentage = (school_data_complete['math_score'] >= 70).mean() * 100
print("Percentage of passing math (70 or greater):", passing_math_percentage)

Percentage of passing math (70 or greater): 74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [41]:
#  Sort and display the top five schools in overall passing rate
math_passing_score = 70
reading_passing_score = 70

school_data_complete['passing_math'] = (school_data_complete['math_score'] >= math_passing_score).astype(int)
school_data_complete['passing_reading'] = (school_data_complete['reading_score'] >= reading_passing_score).astype(int)

school_passing_rates = school_data_complete.groupby('school_name').agg(
    passing_math_rate=('passing_math', 'mean'),
    passing_reading_rate=('passing_reading', 'mean')
)

school_passing_rates['overall_passing_rate'] = (school_passing_rates['passing_math_rate'] + school_passing_rates['passing_reading_rate']) / 2

top_performing_schools = school_passing_rates.sort_values('overall_passing_rate', ascending=False).head(5)

print("\nTop Performing Schools (By Passing Rate):")
print(top_performing_schools.to_markdown(numalign="left", stralign="left"))

Top Performing Schools (By Passing Rate):
| school_name         | passing_math_rate   | passing_reading_rate   | overall_passing_rate   |
|:--------------------|:--------------------|:-----------------------|:-----------------------|
| Cabrera High School | 0.941335            | 0.970398               | 0.955867               |
| Thomas High School  | 0.932722            | 0.973089               | 0.952905               |
| Pena High School    | 0.945946            | 0.959459               | 0.952703               |
| Griffin High School | 0.933924            | 0.97139                | 0.952657               |
| Wilson High School  | 0.938677            | 0.965396               | 0.952037               |

In [43]:
# Calculate total school budget
total_budget_top_schools = school_data_complete[school_data_complete['school_name'].isin(top_performing_schools.index)]['budget'].sum()

print("\nTotal budget for top performing schools:", total_budget_top_schools)

Total budget for top performing schools: 8637749836

In [47]:
# Calculate per student budget
total_students_top_schools = school_data_complete[school_data_complete['school_name'].isin(top_performing_schools.index)]['student_name'].count()
per_student_budget_top_schools = total_budget_top_schools / total_students_top_schools

print("\nPer student budget for top performing schools:", per_student_budget_top_schools)

Per student budget for top performing schools: 1052613.92103339

In [49]:
# Cacluate the avg math and reading score
avg_math_score_top_schools = school_data_complete[school_data_complete['school_name'].isin(top_performing_schools.index)]['math_score'].mean()
avg_reading_score_top_schools = school_data_complete[school_data_complete['school_name'].isin(top_performing_schools.index)]['reading_score'].mean()

print("\nAverage math score for top performing schools:", avg_math_score_top_schools)
print("Average reading score for top performing schools:", avg_reading_score_top_schools)

Average math score for top performing schools: 83.33499878137948
Average reading score for top performing schools: 83.93395076773093

#### Find the passing rate for math and reading (above 70 points)

In [53]:
# Find the total counts of math result
math_result_counts = school_data_complete['math_score'].value_counts().sort_index()
print("\nTotal Counts of Math Results:")
print(math_result_counts.to_markdown(numalign="left", stralign="left"))

# Find the counts for math result in each school that pass 70 or higher
passing_math_students = school_data_complete[school_data_complete['math_score'] >= 70]

math_result_counts_passing = passing_math_students.groupby('school_name')['math_score'].value_counts().sort_index()

print("\nCounts of Math Results (Passing Students) in Each School:")
print(math_result_counts_passing.to_markdown(numalign="left", stralign="left"))

# Calculate the math passing rate
############ See code Line 41 #####################

Total Counts of Math Results:
| math_score   | count   |
|:-------------|:--------|
| 55           | 574     |
| 56           | 584     |
| 57           | 617     |
| 58           | 601     |
| 59           | 583     |
| 60           | 603     |
| 61           | 633     |
| 62           | 610     |
| 63           | 619     |
| 64           | 558     |
| 65           | 633     |
| 66           | 613     |
| 67           | 575     |
| 68           | 1005    |
| 69           | 992     |
| 70           | 1014    |
| 71           | 971     |
| 72           | 1003    |
| 73           | 979     |
| 74           | 983     |
| 75           | 964     |
| 76           | 956     |
| 77           | 980     |
| 78           | 1019    |
| 79           | 979     |
| 80           | 917     |
| 81           | 1017    |
| 82           | 950     |
| 83           | 1017    |
| 84           | 1028    |
| 85           | 989     |
| 86           | 925     |
| 87           | 964     |
| 88           | 926     |
| 89           | 998     |
| 90           | 957     |
| 91           | 1016    |
| 92           | 970     |
| 93           | 980     |
| 94           | 1004    |
| 95           | 999     |
| 96           | 956     |
| 97           | 949     |
| 98           | 973     |
| 99           | 987     |

Counts of Math Results (Passing Students) in Each School:
|                               | count   |
|:------------------------------|:--------|
| ('Bailey High School', 70)    | 102     |
| ('Bailey High School', 71)    | 107     |
| ('Bailey High School', 72)    | 119     |
| ('Bailey High School', 73)    | 109     |
| ('Bailey High School', 74)    | 102     |
| ('Bailey High School', 75)    | 109     |
| ('Bailey High School', 76)    | 114     |
| ('Bailey High School', 77)    | 120     |
| ('Bailey High School', 78)    | 114     |
| ('Bailey High School', 79)    | 104     |
| ('Bailey High School', 80)    | 95      |
| ('Bailey High School', 81)    | 124     |
| ('Bailey High School', 82)    | 108     |
| ('Bailey High School', 83)    | 106     |
| ('Bailey High School', 84)    | 121     |
| ('Bailey High School', 85)    | 119     |
| ('Bailey High School', 86)    | 109     |
| ('Bailey High School', 87)    | 123     |
| ('Bailey High School', 88)    | 114     |
| ('Bailey High School', 89)    | 106     |
| ('Bailey High School', 90)    | 96      |
| ('Bailey High School', 91)    | 130     |
| ('Bailey High School', 92)    | 105     |
| ('Bailey High School', 93)    | 116     |
| ('Bailey High School', 94)    | 99      |
| ('Bailey High School', 95)    | 100     |
| ('Bailey High School', 96)    | 122     |
| ('Bailey High School', 97)    | 119     |
| ('Bailey High School', 98)    | 100     |
| ('Bailey High School', 99)    | 106     |
| ('Cabrera High School', 70)   | 85      |
| ('Cabrera High School', 71)   | 64      |
| ('Cabrera High School', 72)   | 65      |
| ('Cabrera High School', 73)   | 69      |
| ('Cabrera High School', 74)   | 53      |
| ('Cabrera High School', 75)   | 47      |
| ('Cabrera High School', 76)   | 56      |
| ('Cabrera High School', 77)   | 57      |
| ('Cabrera High School', 78)   | 69      |
| ('Cabrera High School', 79)   | 65      |
| ('Cabrera High School', 80)   | 53      |
| ('Cabrera High School', 81)   | 68      |
| ('Cabrera High School', 82)   | 63      |
| ('Cabrera High School', 83)   | 46      |
| ('Cabrera High School', 84)   | 54      |
| ('Cabrera High School', 85)   | 57      |
| ('Cabrera High School', 86)   | 53      |
| ('Cabrera High School', 87)   | 47      |
| ('Cabrera High School', 88)   | 50      |
| ('Cabrera High School', 89)   | 65      |
| ('Cabrera High School', 90)   | 58      |
| ('Cabrera High School', 91)   | 58      |
| ('Cabrera High School', 92)   | 47      |
| ('Cabrera High School', 93)   | 66      |
| ('Cabrera High School', 94)   | 78      |
| ('Cabrera High School', 95)   | 57      |
| ('Cabrera High School', 96)   | 53      |
| ('Cabrera High School', 97)   | 48      |
| ('Cabrera High School', 98)   | 50      |
| ('Cabrera High School', 99)   | 48      |
| ('Figueroa High School', 70)  | 66      |
| ('Figueroa High School', 71)  | 76      |
| ('Figueroa High School', 72)  | 69      |
| ('Figueroa High School', 73)  | 69      |
| ('Figueroa High School', 74)  | 72      |
| ('Figueroa High School', 75)  | 59      |
| ('Figueroa High School', 76)  | 67      |
| ('Figueroa High School', 77)  | 60      |
| ('Figueroa High School', 78)  | 65      |
| ('Figueroa High School', 79)  | 61      |
| ('Figueroa High School', 80)  | 65      |
| ('Figueroa High School', 81)  | 57      |
| ('Figueroa High School', 82)  | 60      |
| ('Figueroa High School', 83)  | 83      |
| ('Figueroa High School', 84)  | 72      |
| ('Figueroa High School', 85)  | 53      |
| ('Figueroa High School', 86)  | 65      |
| ('Figueroa High School', 87)  | 67      |
| ('Figueroa High School', 88)  | 55      |
| ('Figueroa High School', 89)  | 63      |
| ('Figueroa High School', 90)  | 66      |
| ('Figueroa High School', 91)  | 75      |
| ('Figueroa High School', 92)  | 60      |
| ('Figueroa High School', 93)  | 61      |
| ('Figueroa High School', 94)  | 61      |
| ('Figueroa High School', 95)  | 71      |
| ('Figueroa High School', 96)  | 49      |
| ('Figueroa High School', 97)  | 64      |
| ('Figueroa High School', 98)  | 65      |
| ('Figueroa High School', 99)  | 70      |
| ('Ford High School', 70)      | 70      |
| ('Ford High School', 71)      | 74      |
| ('Ford High School', 72)      | 54      |
| ('Ford High School', 73)      | 59      |
| ('Ford High School', 74)      | 63      |
| ('Ford High School', 75)      | 56      |
| ('Ford High School', 76)      | 68      |
| ('Ford High School', 77)      | 66      |
| ('Ford High School', 78)      | 75      |
| ('Ford High School', 79)      | 63      |
| ('Ford High School', 80)      | 63      |
| ('Ford High School', 81)      | 62      |
| ('Ford High School', 82)      | 56      |
| ('Ford High School', 83)      | 66      |
| ('Ford High School', 84)      | 63      |
| ('Ford High School', 85)      | 65      |
| ('Ford High School', 86)      | 68      |
| ('Ford High School', 87)      | 55      |
| ('Ford High School', 88)      | 79      |
| ('Ford High School', 89)      | 77      |
| ('Ford High School', 90)      | 65      |
| ('Ford High School', 91)      | 49      |
| ('Ford High School', 92)      | 56      |
| ('Ford High School', 93)      | 40      |
| ('Ford High School', 94)      | 71      |
| ('Ford High School', 95)      | 55      |
| ('Ford High School', 96)      | 54      |
| ('Ford High School', 97)      | 62      |
| ('Ford High School', 98)      | 62      |
| ('Ford High School', 99)      | 55      |
| ('Griffin High School', 70)   | 54      |
| ('Griffin High School', 71)   | 49      |
| ('Griffin High School', 72)   | 42      |
| ('Griffin High School', 73)   | 41      |
| ('Griffin High School', 74)   | 38      |
| ('Griffin High School', 75)   | 54      |
| ('Griffin High School', 76)   | 40      |
| ('Griffin High School', 77)   | 46      |
| ('Griffin High School', 78)   | 53      |
| ('Griffin High School', 79)   | 38      |
| ('Griffin High School', 80)   | 48      |
| ('Griffin High School', 81)   | 46      |
| ('Griffin High School', 82)   | 44      |
| ('Griffin High School', 83)   | 57      |
| ('Griffin High School', 84)   | 49      |
| ('Griffin High School', 85)   | 45      |
| ('Griffin High School', 86)   | 43      |
| ('Griffin High School', 87)   | 37      |
| ('Griffin High School', 88)   | 53      |
| ('Griffin High School', 89)   | 53      |
| ('Griffin High School', 90)   | 38      |
| ('Griffin High School', 91)   | 46      |
| ('Griffin High School', 92)   | 53      |
| ('Griffin High School', 93)   | 32      |
| ('Griffin High School', 94)   | 42      |
| ('Griffin High School', 95)   | 54      |
| ('Griffin High School', 96)   | 45      |
| ('Griffin High School', 97)   | 41      |
| ('Griffin High School', 98)   | 38      |
| ('Griffin High School', 99)   | 52      |
| ('Hernandez High School', 70) | 93      |
| ('Hernandez High School', 71) | 96      |
| ('Hernandez High School', 72) | 89      |
| ('Hernandez High School', 73) | 105     |
| ('Hernandez High School', 74) | 110     |
| ('Hernandez High School', 75) | 88      |
| ('Hernandez High School', 76) | 94      |
| ('Hernandez High School', 77) | 106     |
| ('Hernandez High School', 78) | 102     |
| ('Hernandez High School', 79) | 96      |
| ('Hernandez High School', 80) | 90      |
| ('Hernandez High School', 81) | 98      |
| ('Hernandez High School', 82) | 106     |
| ('Hernandez High School', 83) | 105     |
| ('Hernandez High School', 84) | 116     |
| ('Hernandez High School', 85) | 100     |
| ('Hernandez High School', 86) | 83      |
| ('Hernandez High School', 87) | 109     |
| ('Hernandez High School', 88) | 95      |
| ('Hernandez High School', 89) | 108     |
| ('Hernandez High School', 90) | 115     |
| ('Hernandez High School', 91) | 116     |
| ('Hernandez High School', 92) | 107     |
| ('Hernandez High School', 93) | 99      |
| ('Hernandez High School', 94) | 107     |
| ('Hernandez High School', 95) | 119     |
| ('Hernandez High School', 96) | 118     |
| ('Hernandez High School', 97) | 95      |
| ('Hernandez High School', 98) | 106     |
| ('Hernandez High School', 99) | 123     |
| ('Holden High School', 70)    | 8       |
| ('Holden High School', 71)    | 12      |
| ('Holden High School', 72)    | 10      |
| ('Holden High School', 73)    | 18      |
| ('Holden High School', 74)    | 10      |
| ('Holden High School', 75)    | 13      |
| ('Holden High School', 76)    | 7       |
| ('Holden High School', 77)    | 16      |
| ('Holden High School', 78)    | 14      |
| ('Holden High School', 79)    | 10      |
| ('Holden High School', 80)    | 16      |
| ('Holden High School', 81)    | 13      |
| ('Holden High School', 82)    | 14      |
| ('Holden High School', 83)    | 20      |
| ('Holden High School', 84)    | 13      |
| ('Holden High School', 85)    | 19      |
| ('Holden High School', 86)    | 11      |
| ('Holden High School', 87)    | 11      |
| ('Holden High School', 88)    | 9       |
| ('Holden High School', 89)    | 16      |
| ('Holden High School', 90)    | 8       |
| ('Holden High School', 91)    | 6       |
| ('Holden High School', 92)    | 13      |
| ('Holden High School', 93)    | 20      |
| ('Holden High School', 94)    | 15      |
| ('Holden High School', 95)    | 14      |
| ('Holden High School', 96)    | 15      |
| ('Holden High School', 97)    | 12      |
| ('Holden High School', 98)    | 17      |
| ('Holden High School', 99)    | 15      |
| ('Huang High School', 70)     | 69      |
| ('Huang High School', 71)     | 71      |
| ('Huang High School', 72)     | 69      |
| ('Huang High School', 73)     | 61      |
| ('Huang High School', 74)     | 72      |
| ('Huang High School', 75)     | 60      |
| ('Huang High School', 76)     | 60      |
| ('Huang High School', 77)     | 68      |
| ('Huang High School', 78)     | 76      |
| ('Huang High School', 79)     | 74      |
| ('Huang High School', 80)     | 59      |
| ('Huang High School', 81)     | 77      |
| ('Huang High School', 82)     | 56      |
| ('Huang High School', 83)     | 72      |
| ('Huang High School', 84)     | 57      |
| ('Huang High School', 85)     | 57      |
| ('Huang High School', 86)     | 44      |
| ('Huang High School', 87)     | 70      |
| ('Huang High School', 88)     | 48      |
| ('Huang High School', 89)     | 56      |
| ('Huang High School', 90)     | 55      |
| ('Huang High School', 91)     | 61      |
| ('Huang High School', 92)     | 66      |
| ('Huang High School', 93)     | 71      |
| ('Huang High School', 94)     | 66      |
| ('Huang High School', 95)     | 75      |
| ('Huang High School', 96)     | 66      |
| ('Huang High School', 97)     | 63      |
| ('Huang High School', 98)     | 61      |
| ('Huang High School', 99)     | 56      |
| ('Johnson High School', 70)   | 105     |
| ('Johnson High School', 71)   | 98      |
| ('Johnson High School', 72)   | 112     |
| ('Johnson High School', 73)   | 101     |
| ('Johnson High School', 74)   | 118     |
| ('Johnson High School', 75)   | 104     |
| ('Johnson High School', 76)   | 93      |
| ('Johnson High School', 77)   | 98      |
| ('Johnson High School', 78)   | 105     |
| ('Johnson High School', 79)   | 92      |
| ('Johnson High School', 80)   | 83      |
| ('Johnson High School', 81)   | 117     |
| ('Johnson High School', 82)   | 103     |
| ('Johnson High School', 83)   | 101     |
| ('Johnson High School', 84)   | 96      |
| ('Johnson High School', 85)   | 114     |
| ('Johnson High School', 86)   | 108     |
| ('Johnson High School', 87)   | 109     |
| ('Johnson High School', 88)   | 81      |
| ('Johnson High School', 89)   | 117     |
| ('Johnson High School', 90)   | 99      |
| ('Johnson High School', 91)   | 102     |
| ('Johnson High School', 92)   | 96      |
| ('Johnson High School', 93)   | 136     |
| ('Johnson High School', 94)   | 100     |
| ('Johnson High School', 95)   | 97      |
| ('Johnson High School', 96)   | 105     |
| ('Johnson High School', 97)   | 118     |
| ('Johnson High School', 98)   | 122     |
| ('Johnson High School', 99)   | 115     |
| ('Pena High School', 70)      | 28      |
| ('Pena High School', 71)      | 26      |
| ('Pena High School', 72)      | 38      |
| ('Pena High School', 73)      | 39      |
| ('Pena High School', 74)      | 32      |
| ('Pena High School', 75)      | 37      |
| ('Pena High School', 76)      | 24      |
| ('Pena High School', 77)      | 27      |
| ('Pena High School', 78)      | 22      |
| ('Pena High School', 79)      | 28      |
| ('Pena High School', 80)      | 24      |
| ('Pena High School', 81)      | 28      |
| ('Pena High School', 82)      | 27      |
| ('Pena High School', 83)      | 21      |
| ('Pena High School', 84)      | 34      |
| ('Pena High School', 85)      | 28      |
| ('Pena High School', 86)      | 33      |
| ('Pena High School', 87)      | 24      |
| ('Pena High School', 88)      | 44      |
| ('Pena High School', 89)      | 23      |
| ('Pena High School', 90)      | 36      |
| ('Pena High School', 91)      | 27      |
| ('Pena High School', 92)      | 37      |
| ('Pena High School', 93)      | 34      |
| ('Pena High School', 94)      | 36      |
| ('Pena High School', 95)      | 29      |
| ('Pena High School', 96)      | 27      |
| ('Pena High School', 97)      | 26      |
| ('Pena High School', 98)      | 39      |
| ('Pena High School', 99)      | 32      |
| ('Rodriguez High School', 70) | 92      |
| ('Rodriguez High School', 71) | 80      |
| ('Rodriguez High School', 72) | 99      |
| ('Rodriguez High School', 73) | 89      |
| ('Rodriguez High School', 74) | 94      |
| ('Rodriguez High School', 75) | 95      |
| ('Rodriguez High School', 76) | 93      |
| ('Rodriguez High School', 77) | 82      |
| ('Rodriguez High School', 78) | 86      |
| ('Rodriguez High School', 79) | 101     |
| ('Rodriguez High School', 80) | 82      |
| ('Rodriguez High School', 81) | 82      |
| ('Rodriguez High School', 82) | 84      |
| ('Rodriguez High School', 83) | 84      |
| ('Rodriguez High School', 84) | 105     |
| ('Rodriguez High School', 85) | 103     |
| ('Rodriguez High School', 86) | 76      |
| ('Rodriguez High School', 87) | 85      |
| ('Rodriguez High School', 88) | 86      |
| ('Rodriguez High School', 89) | 91      |
| ('Rodriguez High School', 90) | 82      |
| ('Rodriguez High School', 91) | 86      |
| ('Rodriguez High School', 92) | 91      |
| ('Rodriguez High School', 93) | 88      |
| ('Rodriguez High School', 94) | 95      |
| ('Rodriguez High School', 95) | 94      |
| ('Rodriguez High School', 96) | 73      |
| ('Rodriguez High School', 97) | 93      |
| ('Rodriguez High School', 98) | 82      |
| ('Rodriguez High School', 99) | 81      |
| ('Shelton High School', 70)   | 70      |
| ('Shelton High School', 71)   | 49      |
| ('Shelton High School', 72)   | 61      |
| ('Shelton High School', 73)   | 40      |
| ('Shelton High School', 74)   | 47      |
| ('Shelton High School', 75)   | 57      |
| ('Shelton High School', 76)   | 58      |
| ('Shelton High School', 77)   | 48      |
| ('Shelton High School', 78)   | 59      |
| ('Shelton High School', 79)   | 56      |
| ('Shelton High School', 80)   | 64      |
| ('Shelton High School', 81)   | 62      |
| ('Shelton High School', 82)   | 61      |
| ('Shelton High School', 83)   | 62      |
| ('Shelton High School', 84)   | 62      |
| ('Shelton High School', 85)   | 54      |
| ('Shelton High School', 86)   | 44      |
| ('Shelton High School', 87)   | 58      |
| ('Shelton High School', 88)   | 47      |
| ('Shelton High School', 89)   | 56      |
| ('Shelton High School', 90)   | 59      |
| ('Shelton High School', 91)   | 63      |
| ('Shelton High School', 92)   | 58      |
| ('Shelton High School', 93)   | 50      |
| ('Shelton High School', 94)   | 41      |
| ('Shelton High School', 95)   | 61      |
| ('Shelton High School', 96)   | 49      |
| ('Shelton High School', 97)   | 46      |
| ('Shelton High School', 98)   | 53      |
| ('Shelton High School', 99)   | 58      |
| ('Thomas High School', 70)    | 50      |
| ('Thomas High School', 71)    | 48      |
| ('Thomas High School', 72)    | 44      |
| ('Thomas High School', 73)    | 45      |
| ('Thomas High School', 74)    | 59      |
| ('Thomas High School', 75)    | 55      |
| ('Thomas High School', 76)    | 59      |
| ('Thomas High School', 77)    | 53      |
| ('Thomas High School', 78)    | 51      |
| ('Thomas High School', 79)    | 49      |
| ('Thomas High School', 80)    | 54      |
| ('Thomas High School', 81)    | 49      |
| ('Thomas High School', 82)    | 52      |
| ('Thomas High School', 83)    | 54      |
| ('Thomas High School', 84)    | 52      |
| ('Thomas High School', 85)    | 47      |
| ('Thomas High School', 86)    | 52      |
| ('Thomas High School', 87)    | 50      |
| ('Thomas High School', 88)    | 44      |
| ('Thomas High School', 89)    | 38      |
| ('Thomas High School', 90)    | 52      |
| ('Thomas High School', 91)    | 57      |
| ('Thomas High School', 92)    | 56      |
| ('Thomas High School', 93)    | 49      |
| ('Thomas High School', 94)    | 48      |
| ('Thomas High School', 95)    | 50      |
| ('Thomas High School', 96)    | 53      |
| ('Thomas High School', 97)    | 50      |
| ('Thomas High School', 98)    | 52      |
| ('Thomas High School', 99)    | 53      |
| ('Wilson High School', 70)    | 67      |
| ('Wilson High School', 71)    | 78      |
| ('Wilson High School', 72)    | 87      |
| ('Wilson High School', 73)    | 74      |
| ('Wilson High School', 74)    | 65      |
| ('Wilson High School', 75)    | 79      |
| ('Wilson High School', 76)    | 61      |
| ('Wilson High School', 77)    | 69      |
| ('Wilson High School', 78)    | 74      |
| ('Wilson High School', 79)    | 81      |
| ('Wilson High School', 80)    | 68      |
| ('Wilson High School', 81)    | 85      |
| ('Wilson High School', 82)    | 58      |
| ('Wilson High School', 83)    | 70      |
| ('Wilson High School', 84)    | 71      |
| ('Wilson High School', 85)    | 72      |
| ('Wilson High School', 86)    | 82      |
| ('Wilson High School', 87)    | 63      |
| ('Wilson High School', 88)    | 68      |
| ('Wilson High School', 89)    | 75      |
| ('Wilson High School', 90)    | 73      |
| ('Wilson High School', 91)    | 80      |
| ('Wilson High School', 92)    | 74      |
| ('Wilson High School', 93)    | 69      |
| ('Wilson High School', 94)    | 82      |
| ('Wilson High School', 95)    | 61      |
| ('Wilson High School', 96)    | 71      |
| ('Wilson High School', 97)    | 57      |
| ('Wilson High School', 98)    | 75      |
| ('Wilson High School', 99)    | 54      |
| ('Wright High School', 70)    | 55      |

In [55]:
# Find the total counts of read result
# Find the counts for read result in each school that pass 70 or higher
reading_result_counts = school_data_complete['reading_score'].value_counts().sort_index()

print("\nTotal Counts of Reading Results:")
print(reading_result_counts.to_markdown(numalign="left", stralign="left"))

# Filter to include only students with reading scores of 70 or higher
passing_reading_students = school_data_complete[school_data_complete['reading_score'] >= 70]

# Calculate the counts of each reading result for students passing reading in each school
reading_result_counts_passing = passing_reading_students.groupby('school_name')['reading_score'].value_counts().sort_index()

print("\nCounts of Reading Results (Passing Students) in Each School:")
print(reading_result_counts_passing.to_markdown(numalign="left", stralign="left"))

# Calculate the read passing rate
############ See code Line 41 #####################

Total Counts of Reading Results:
| reading_score   | count   |
|:----------------|:--------|
| 63              | 751     |
| 64              | 738     |
| 65              | 758     |
| 66              | 743     |
| 67              | 714     |
| 68              | 746     |
| 69              | 1110    |
| 70              | 1110    |
| 71              | 1073    |
| 72              | 1120    |
| 73              | 1112    |
| 74              | 1106    |
| 75              | 1149    |
| 76              | 1087    |
| 77              | 1178    |
| 78              | 1078    |
| 79              | 1116    |
| 80              | 1150    |
| 81              | 1121    |
| 82              | 1162    |
| 83              | 1176    |
| 84              | 1166    |
| 85              | 1128    |
| 86              | 1113    |
| 87              | 1161    |
| 88              | 1125    |
| 89              | 1095    |
| 90              | 1105    |
| 91              | 1076    |
| 92              | 1197    |
| 93              | 1110    |
| 94              | 1114    |
| 95              | 1126    |
| 96              | 1089    |
| 97              | 1026    |
| 98              | 1166    |
| 99              | 1075    |

Counts of Reading Results (Passing Students) in Each School:
|                               | count   |
|:------------------------------|:--------|
| ('Bailey High School', 70)    | 131     |
| ('Bailey High School', 71)    | 112     |
| ('Bailey High School', 72)    | 139     |
| ('Bailey High School', 73)    | 125     |
| ('Bailey High School', 74)    | 131     |
| ('Bailey High School', 75)    | 177     |
| ('Bailey High School', 76)    | 147     |
| ('Bailey High School', 77)    | 138     |
| ('Bailey High School', 78)    | 138     |
| ('Bailey High School', 79)    | 144     |
| ('Bailey High School', 80)    | 150     |
| ('Bailey High School', 81)    | 123     |
| ('Bailey High School', 82)    | 146     |
| ('Bailey High School', 83)    | 157     |
| ('Bailey High School', 84)    | 143     |
| ('Bailey High School', 85)    | 132     |
| ('Bailey High School', 86)    | 116     |
| ('Bailey High School', 87)    | 136     |
| ('Bailey High School', 88)    | 142     |
| ('Bailey High School', 89)    | 124     |
| ('Bailey High School', 90)    | 135     |
| ('Bailey High School', 91)    | 120     |
| ('Bailey High School', 92)    | 143     |
| ('Bailey High School', 93)    | 131     |
| ('Bailey High School', 94)    | 148     |
| ('Bailey High School', 95)    | 138     |
| ('Bailey High School', 96)    | 130     |
| ('Bailey High School', 97)    | 117     |
| ('Bailey High School', 98)    | 150     |
| ('Bailey High School', 99)    | 114     |
| ('Cabrera High School', 70)   | 59      |
| ('Cabrera High School', 71)   | 67      |
| ('Cabrera High School', 72)   | 66      |
| ('Cabrera High School', 73)   | 65      |
| ('Cabrera High School', 74)   | 57      |
| ('Cabrera High School', 75)   | 56      |
| ('Cabrera High School', 76)   | 56      |
| ('Cabrera High School', 77)   | 55      |
| ('Cabrera High School', 78)   | 56      |
| ('Cabrera High School', 79)   | 73      |
| ('Cabrera High School', 80)   | 56      |
| ('Cabrera High School', 81)   | 51      |
| ('Cabrera High School', 82)   | 59      |
| ('Cabrera High School', 83)   | 64      |
| ('Cabrera High School', 84)   | 49      |
| ('Cabrera High School', 85)   | 69      |
| ('Cabrera High School', 86)   | 67      |
| ('Cabrera High School', 87)   | 63      |
| ('Cabrera High School', 88)   | 47      |
| ('Cabrera High School', 89)   | 67      |
| ('Cabrera High School', 90)   | 58      |
| ('Cabrera High School', 91)   | 68      |
| ('Cabrera High School', 92)   | 61      |
| ('Cabrera High School', 93)   | 71      |
| ('Cabrera High School', 94)   | 53      |
| ('Cabrera High School', 95)   | 60      |
| ('Cabrera High School', 96)   | 68      |
| ('Cabrera High School', 97)   | 47      |
| ('Cabrera High School', 98)   | 57      |
| ('Cabrera High School', 99)   | 58      |
| ('Figueroa High School', 70)  | 68      |
| ('Figueroa High School', 71)  | 61      |
| ('Figueroa High School', 72)  | 86      |
| ('Figueroa High School', 73)  | 68      |
| ('Figueroa High School', 74)  | 71      |
| ('Figueroa High School', 75)  | 71      |
| ('Figueroa High School', 76)  | 81      |
| ('Figueroa High School', 77)  | 103     |
| ('Figueroa High School', 78)  | 79      |
| ('Figueroa High School', 79)  | 60      |
| ('Figueroa High School', 80)  | 96      |
| ('Figueroa High School', 81)  | 81      |
| ('Figueroa High School', 82)  | 81      |
| ('Figueroa High School', 83)  | 71      |
| ('Figueroa High School', 84)  | 99      |
| ('Figueroa High School', 85)  | 72      |
| ('Figueroa High School', 86)  | 77      |
| ('Figueroa High School', 87)  | 96      |
| ('Figueroa High School', 88)  | 82      |
| ('Figueroa High School', 89)  | 69      |
| ('Figueroa High School', 90)  | 83      |
| ('Figueroa High School', 91)  | 77      |
| ('Figueroa High School', 92)  | 98      |
| ('Figueroa High School', 93)  | 70      |
| ('Figueroa High School', 94)  | 65      |
| ('Figueroa High School', 95)  | 93      |
| ('Figueroa High School', 96)  | 84      |
| ('Figueroa High School', 97)  | 59      |
| ('Figueroa High School', 98)  | 81      |
| ('Figueroa High School', 99)  | 99      |
| ('Ford High School', 70)      | 49      |
| ('Ford High School', 71)      | 69      |
| ('Ford High School', 72)      | 61      |
| ('Ford High School', 73)      | 85      |
| ('Ford High School', 74)      | 81      |
| ('Ford High School', 75)      | 70      |
| ('Ford High School', 76)      | 61      |
| ('Ford High School', 77)      | 82      |
| ('Ford High School', 78)      | 59      |
| ('Ford High School', 79)      | 70      |
| ('Ford High School', 80)      | 83      |
| ('Ford High School', 81)      | 66      |
| ('Ford High School', 82)      | 84      |
| ('Ford High School', 83)      | 76      |
| ('Ford High School', 84)      | 77      |
| ('Ford High School', 85)      | 80      |
| ('Ford High School', 86)      | 77      |
| ('Ford High School', 87)      | 67      |
| ('Ford High School', 88)      | 88      |
| ('Ford High School', 89)      | 69      |
| ('Ford High School', 90)      | 76      |
| ('Ford High School', 91)      | 72      |
| ('Ford High School', 92)      | 74      |
| ('Ford High School', 93)      | 74      |
| ('Ford High School', 94)      | 82      |
| ('Ford High School', 95)      | 71      |
| ('Ford High School', 96)      | 77      |
| ('Ford High School', 97)      | 61      |
| ('Ford High School', 98)      | 72      |
| ('Ford High School', 99)      | 59      |
| ('Griffin High School', 70)   | 55      |
| ('Griffin High School', 71)   | 53      |
| ('Griffin High School', 72)   | 51      |
| ('Griffin High School', 73)   | 49      |
| ('Griffin High School', 74)   | 56      |
| ('Griffin High School', 75)   | 44      |
| ('Griffin High School', 76)   | 51      |
| ('Griffin High School', 77)   | 39      |
| ('Griffin High School', 78)   | 42      |
| ('Griffin High School', 79)   | 48      |
| ('Griffin High School', 80)   | 54      |
| ('Griffin High School', 81)   | 48      |
| ('Griffin High School', 82)   | 38      |
| ('Griffin High School', 83)   | 48      |
| ('Griffin High School', 84)   | 49      |
| ('Griffin High School', 85)   | 45      |
| ('Griffin High School', 86)   | 44      |
| ('Griffin High School', 87)   | 54      |
| ('Griffin High School', 88)   | 38      |
| ('Griffin High School', 89)   | 50      |
| ('Griffin High School', 90)   | 41      |
| ('Griffin High School', 91)   | 65      |
| ('Griffin High School', 92)   | 49      |
| ('Griffin High School', 93)   | 40      |
| ('Griffin High School', 94)   | 51      |
| ('Griffin High School', 95)   | 45      |
| ('Griffin High School', 96)   | 46      |
| ('Griffin High School', 97)   | 37      |
| ('Griffin High School', 98)   | 44      |
| ('Griffin High School', 99)   | 52      |
| ('Hernandez High School', 70) | 124     |
| ('Hernandez High School', 71) | 148     |
| ('Hernandez High School', 72) | 133     |
| ('Hernandez High School', 73) | 105     |
| ('Hernandez High School', 74) | 129     |
| ('Hernandez High School', 75) | 114     |
| ('Hernandez High School', 76) | 125     |
| ('Hernandez High School', 77) | 131     |
| ('Hernandez High School', 78) | 120     |
| ('Hernandez High School', 79) | 121     |
| ('Hernandez High School', 80) | 122     |
| ('Hernandez High School', 81) | 122     |
| ('Hernandez High School', 82) | 120     |
| ('Hernandez High School', 83) | 130     |
| ('Hernandez High School', 84) | 129     |
| ('Hernandez High School', 85) | 142     |
| ('Hernandez High School', 86) | 112     |
| ('Hernandez High School', 87) | 112     |
| ('Hernandez High School', 88) | 112     |
| ('Hernandez High School', 89) | 129     |
| ('Hernandez High School', 90) | 130     |
| ('Hernandez High School', 91) | 117     |
| ('Hernandez High School', 92) | 142     |
| ('Hernandez High School', 93) | 133     |
| ('Hernandez High School', 94) | 138     |
| ('Hernandez High School', 95) | 129     |
| ('Hernandez High School', 96) | 114     |
| ('Hernandez High School', 97) | 122     |
| ('Hernandez High School', 98) | 119     |
| ('Hernandez High School', 99) | 124     |
| ('Holden High School', 70)    | 15      |
| ('Holden High School', 71)    | 17      |
| ('Holden High School', 72)    | 20      |
| ('Holden High School', 73)    | 15      |
| ('Holden High School', 74)    | 8       |
| ('Holden High School', 75)    | 17      |
| ('Holden High School', 76)    | 12      |
| ('Holden High School', 77)    | 10      |
| ('Holden High School', 78)    | 7       |
| ('Holden High School', 79)    | 9       |
| ('Holden High School', 80)    | 18      |
| ('Holden High School', 81)    | 17      |
| ('Holden High School', 82)    | 12      |
| ('Holden High School', 83)    | 12      |
| ('Holden High School', 84)    | 13      |
| ('Holden High School', 85)    | 17      |
| ('Holden High School', 86)    | 13      |
| ('Holden High School', 87)    | 14      |
| ('Holden High School', 88)    | 14      |
| ('Holden High School', 89)    | 11      |
| ('Holden High School', 90)    | 10      |
| ('Holden High School', 91)    | 19      |
| ('Holden High School', 92)    | 16      |
| ('Holden High School', 93)    | 16      |
| ('Holden High School', 94)    | 17      |
| ('Holden High School', 95)    | 11      |
| ('Holden High School', 96)    | 12      |
| ('Holden High School', 97)    | 12      |
| ('Holden High School', 98)    | 15      |
| ('Holden High School', 99)    | 12      |
| ('Huang High School', 70)     | 73      |
| ('Huang High School', 71)     | 65      |
| ('Huang High School', 72)     | 75      |
| ('Huang High School', 73)     | 78      |
| ('Huang High School', 74)     | 79      |
| ('Huang High School', 75)     | 84      |
| ('Huang High School', 76)     | 71      |
| ('Huang High School', 77)     | 77      |
| ('Huang High School', 78)     | 85      |
| ('Huang High School', 79)     | 64      |
| ('Huang High School', 80)     | 79      |
| ('Huang High School', 81)     | 75      |
| ('Huang High School', 82)     | 96      |
| ('Huang High School', 83)     | 86      |
| ('Huang High School', 84)     | 73      |
| ('Huang High School', 85)     | 81      |
| ('Huang High School', 86)     | 91      |
| ('Huang High School', 87)     | 82      |
| ('Huang High School', 88)     | 79      |
| ('Huang High School', 89)     | 86      |
| ('Huang High School', 90)     | 84      |
| ('Huang High School', 91)     | 67      |
| ('Huang High School', 92)     | 88      |
| ('Huang High School', 93)     | 81      |
| ('Huang High School', 94)     | 70      |
| ('Huang High School', 95)     | 86      |
| ('Huang High School', 96)     | 92      |
| ('Huang High School', 97)     | 69      |
| ('Huang High School', 98)     | 81      |
| ('Huang High School', 99)     | 75      |
| ('Johnson High School', 70)   | 140     |
| ('Johnson High School', 71)   | 111     |
| ('Johnson High School', 72)   | 121     |
| ('Johnson High School', 73)   | 141     |
| ('Johnson High School', 74)   | 121     |
| ('Johnson High School', 75)   | 140     |
| ('Johnson High School', 76)   | 109     |
| ('Johnson High School', 77)   | 135     |
| ('Johnson High School', 78)   | 131     |
| ('Johnson High School', 79)   | 147     |
| ('Johnson High School', 80)   | 134     |
| ('Johnson High School', 81)   | 138     |
| ('Johnson High School', 82)   | 148     |
| ('Johnson High School', 83)   | 146     |
| ('Johnson High School', 84)   | 132     |
| ('Johnson High School', 85)   | 93      |
| ('Johnson High School', 86)   | 117     |
| ('Johnson High School', 87)   | 112     |
| ('Johnson High School', 88)   | 144     |
| ('Johnson High School', 89)   | 135     |
| ('Johnson High School', 90)   | 124     |
| ('Johnson High School', 91)   | 128     |
| ('Johnson High School', 92)   | 143     |
| ('Johnson High School', 93)   | 117     |
| ('Johnson High School', 94)   | 118     |
| ('Johnson High School', 95)   | 122     |
| ('Johnson High School', 96)   | 128     |
| ('Johnson High School', 97)   | 140     |
| ('Johnson High School', 98)   | 138     |
| ('Johnson High School', 99)   | 114     |
| ('Pena High School', 70)      | 36      |
| ('Pena High School', 71)      | 26      |
| ('Pena High School', 72)      | 24      |
| ('Pena High School', 73)      | 25      |
| ('Pena High School', 74)      | 31      |
| ('Pena High School', 75)      | 38      |
| ('Pena High School', 76)      | 31      |
| ('Pena High School', 77)      | 31      |
| ('Pena High School', 78)      | 30      |
| ('Pena High School', 79)      | 37      |
| ('Pena High School', 80)      | 26      |
| ('Pena High School', 81)      | 33      |
| ('Pena High School', 82)      | 32      |
| ('Pena High School', 83)      | 21      |
| ('Pena High School', 84)      | 36      |
| ('Pena High School', 85)      | 34      |
| ('Pena High School', 86)      | 22      |
| ('Pena High School', 87)      | 33      |
| ('Pena High School', 88)      | 40      |
| ('Pena High School', 89)      | 18      |
| ('Pena High School', 90)      | 31      |
| ('Pena High School', 91)      | 33      |
| ('Pena High School', 92)      | 32      |
| ('Pena High School', 93)      | 28      |
| ('Pena High School', 94)      | 35      |
| ('Pena High School', 95)      | 31      |
| ('Pena High School', 96)      | 26      |
| ('Pena High School', 97)      | 35      |
| ('Pena High School', 98)      | 27      |
| ('Pena High School', 99)      | 41      |
| ('Rodriguez High School', 70) | 99      |
| ('Rodriguez High School', 71) | 110     |
| ('Rodriguez High School', 72) | 106     |
| ('Rodriguez High School', 73) | 123     |
| ('Rodriguez High School', 74) | 92      |
| ('Rodriguez High School', 75) | 105     |
| ('Rodriguez High School', 76) | 118     |
| ('Rodriguez High School', 77) | 112     |
| ('Rodriguez High School', 78) | 112     |
| ('Rodriguez High School', 79) | 91      |
| ('Rodriguez High School', 80) | 125     |
| ('Rodriguez High School', 81) | 110     |
| ('Rodriguez High School', 82) | 107     |
| ('Rodriguez High School', 83) | 107     |
| ('Rodriguez High School', 84) | 111     |
| ('Rodriguez High School', 85) | 112     |
| ('Rodriguez High School', 86) | 110     |
| ('Rodriguez High School', 87) | 97      |
| ('Rodriguez High School', 88) | 126     |
| ('Rodriguez High School', 89) | 107     |
| ('Rodriguez High School', 90) | 104     |
| ('Rodriguez High School', 91) | 88      |
| ('Rodriguez High School', 92) | 108     |
| ('Rodriguez High School', 93) | 103     |
| ('Rodriguez High School', 94) | 103     |
| ('Rodriguez High School', 95) | 106     |
| ('Rodriguez High School', 96) | 96      |
| ('Rodriguez High School', 97) | 107     |
| ('Rodriguez High School', 98) | 114     |
| ('Rodriguez High School', 99) | 99      |
| ('Shelton High School', 70)   | 57      |
| ('Shelton High School', 71)   | 52      |
| ('Shelton High School', 72)   | 65      |
| ('Shelton High School', 73)   | 57      |
| ('Shelton High School', 74)   | 60      |
| ('Shelton High School', 75)   | 48      |
| ('Shelton High School', 76)   | 60      |
| ('Shelton High School', 77)   | 62      |
| ('Shelton High School', 78)   | 51      |
| ('Shelton High School', 79)   | 52      |
| ('Shelton High School', 80)   | 59      |
| ('Shelton High School', 81)   | 65      |
| ('Shelton High School', 82)   | 64      |
| ('Shelton High School', 83)   | 57      |
| ('Shelton High School', 84)   | 55      |
| ('Shelton High School', 85)   | 47      |
| ('Shelton High School', 86)   | 56      |
| ('Shelton High School', 87)   | 56      |
| ('Shelton High School', 88)   | 54      |
| ('Shelton High School', 89)   | 55      |
| ('Shelton High School', 90)   | 64      |
| ('Shelton High School', 91)   | 47      |
| ('Shelton High School', 92)   | 60      |
| ('Shelton High School', 93)   | 54      |
| ('Shelton High School', 94)   | 59      |
| ('Shelton High School', 95)   | 54      |
| ('Shelton High School', 96)   | 55      |
| ('Shelton High School', 97)   | 51      |
| ('Shelton High School', 98)   | 63      |
| ('Shelton High School', 99)   | 49      |
| ('Thomas High School', 70)    | 72      |
| ('Thomas High School', 71)    | 47      |
| ('Thomas High School', 72)    | 56      |
| ('Thomas High School', 73)    | 55      |
| ('Thomas High School', 74)    | 69      |
| ('Thomas High School', 75)    | 53      |
| ('Thomas High School', 76)    | 50      |
| ('Thomas High School', 77)    | 53      |
| ('Thomas High School', 78)    | 42      |
| ('Thomas High School', 79)    | 47      |
| ('Thomas High School', 80)    | 42      |
| ('Thomas High School', 81)    | 60      |
| ('Thomas High School', 82)    | 47      |
| ('Thomas High School', 83)    | 46      |
| ('Thomas High School', 84)    | 49      |
| ('Thomas High School', 85)    | 62      |
| ('Thomas High School', 86)    | 68      |
| ('Thomas High School', 87)    | 59      |
| ('Thomas High School', 88)    | 57      |
| ('Thomas High School', 89)    | 46      |
| ('Thomas High School', 90)    | 48      |
| ('Thomas High School', 91)    | 40      |
| ('Thomas High School', 92)    | 56      |
| ('Thomas High School', 93)    | 62      |
| ('Thomas High School', 94)    | 50      |
| ('Thomas High School', 95)    | 54      |
| ('Thomas High School', 96)    | 52      |
| ('Thomas High School', 97)    | 41      |
| ('Thomas High School', 98)    | 56      |
| ('Thomas High School', 99)    | 52      |
| ('Wilson High School', 70)    | 75      |
| ('Wilson High School', 71)    | 84      |
| ('Wilson High School', 72)    | 58      |
| ('Wilson High School', 73)    | 66      |
| ('Wilson High School', 74)    | 72      |
| ('Wilson High School', 75)    | 65      |
| ('Wilson High School', 76)    | 57      |
| ('Wilson High School', 77)    | 91      |
| ('Wilson High School', 78)    | 66      |
| ('Wilson High School', 79)    | 91      |
| ('Wilson High School', 80)    | 56      |
| ('Wilson High School', 81)    | 75      |
| ('Wilson High School', 82)    | 78      |
| ('Wilson High School', 83)    | 85      |
| ('Wilson High School', 84)    | 84      |
| ('Wilson High School', 85)    | 80      |
| ('Wilson High School', 86)    | 81      |
| ('Wilson High School', 87)    | 98      |
| ('Wilson High School', 88)    | 51      |
| ('Wilson High School', 89)    | 78      |
| ('Wilson High School', 90)    | 66      |
| ('Wilson High School', 91)    | 77      |
| ('Wilson High School', 92)    | 71      |
| ('Wilson High School', 93)    | 75      |
| ('Wilson High School', 94)    | 66      |
| ('Wilson High School', 95)    | 67      |
| ('Wilson High School', 96)    | 60      |
| ('Wilson High School', 97)    | 74      |
| ('Wilson High School', 98)    | 78      |
| ('Wilson High School', 99)    | 79      |
| ('Wright High School', 70)    | 57      |
| ('Wright High School', 71)    | 51      |
| ('Wright High School', 72)    | 59      |

In [57]:
# Calculate the overall passing rate (average of the math and reading passing rate)
school_data_complete['passing_math'] = (school_data_complete['math_score'] >= 70).astype(int)
school_data_complete['passing_reading'] = (school_data_complete['reading_score'] >= 70).astype(int)

overall_passing_rate = school_data_complete.groupby('school_name').agg(
    avg_math_passing_rate=('passing_math', 'mean'),
    avg_reading_passing_rate=('passing_reading', 'mean')
)

overall_passing_rate['overall_passing_rate'] = (overall_passing_rate['avg_math_passing_rate'] + overall_passing_rate['avg_reading_passing_rate']) / 2

print("\nOverall Passing Rate for Each School:")
print(overall_passing_rate.to_markdown(numalign="left", stralign="left"))

Overall Passing Rate for Each School:
| school_name           | avg_math_passing_rate   | avg_reading_passing_rate   | overall_passing_rate   |
|:----------------------|:------------------------|:---------------------------|:-----------------------|
| Bailey High School    | 0.666801                | 0.819333                   | 0.743067               |
| Cabrera High School   | 0.941335                | 0.970398                   | 0.955867               |
| Figueroa High School  | 0.659885                | 0.807392                   | 0.733639               |
| Ford High School      | 0.683096                | 0.79299                    | 0.738043               |
| Griffin High School   | 0.933924                | 0.97139                    | 0.952657               |
| Hernandez High School | 0.66753                 | 0.80863                    | 0.73808                |
| Holden High School    | 0.925059                | 0.962529                   | 0.943794               |
| Huang High School     | 0.656839                | 0.813164                   | 0.735002               |
| Johnson High School   | 0.660576                | 0.812224                   | 0.7364                 |
| Pena High School      | 0.945946                | 0.959459                   | 0.952703               |
| Rodriguez High School | 0.663666                | 0.802201                   | 0.732933               |
| Shelton High School   | 0.938671                | 0.958546                   | 0.948609               |
| Thomas High School    | 0.932722                | 0.973089                   | 0.952905               |
| Wilson High School    | 0.938677                | 0.965396                   | 0.952037               |
| Wright High School    | 0.933333                | 0.966111                   | 0.949722               |

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [59]:
#  Sort and display the worst five schools in overall passing rate

bottom_performing_schools = overall_passing_rate.sort_values('overall_passing_rate', ascending=True).head(5)

print("\nBottom Performing Schools (By Passing Rate):")
print(bottom_performing_schools.to_markdown(numalign="left", stralign="left"))

Bottom Performing Schools (By Passing Rate):
| school_name           | avg_math_passing_rate   | avg_reading_passing_rate   | overall_passing_rate   |
|:----------------------|:------------------------|:---------------------------|:-----------------------|
| Rodriguez High School | 0.663666                | 0.802201                   | 0.732933               |
| Figueroa High School  | 0.659885                | 0.807392                   | 0.733639               |
| Huang High School     | 0.656839                | 0.813164                   | 0.735002               |
| Johnson High School   | 0.660576                | 0.812224                   | 0.7364                 |
| Ford High School      | 0.683096                | 0.79299                    | 0.738043               |

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [61]:
# Create table that lists the average math score for each school of each grade level.

ninth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_grade_math_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()

math_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_math_scores,
    '10th': tenth_grade_math_scores,
    '11th': eleventh_grade_math_scores,
    '12th': twelfth_grade_math_scores
})


print("\nAverage Math Score by Grade:")
print(math_scores_by_grade.to_markdown(numalign="left", stralign="left"))

Average Math Score by Grade:
| school_name           | 9th     | 10th    | 11th    | 12th    |
|:----------------------|:--------|:--------|:--------|:--------|
| Bailey High School    | 77.0837 | 76.9968 | 77.5156 | 76.4922 |
| Cabrera High School   | 83.0947 | 83.1545 | 82.7656 | 83.2775 |
| Figueroa High School  | 76.403  | 76.54   | 76.8843 | 77.1514 |
| Ford High School      | 77.3613 | 77.6723 | 76.9181 | 76.18   |
| Griffin High School   | 82.044  | 84.2291 | 83.8421 | 83.3562 |
| Hernandez High School | 77.4385 | 77.3374 | 77.136  | 77.1866 |
| Holden High School    | 83.7874 | 83.4298 | 85      | 82.8554 |
| Huang High School     | 77.0273 | 75.9087 | 76.4466 | 77.2256 |
| Johnson High School   | 77.1879 | 76.6911 | 77.4917 | 76.8632 |
| Pena High School      | 83.6255 | 83.372  | 84.3281 | 84.1215 |
| Rodriguez High School | 76.86   | 76.6125 | 76.3956 | 77.6907 |
| Shelton High School   | 83.4208 | 82.9174 | 83.3835 | 83.779  |
| Thomas High School    | 83.59   | 83.0879 | 83.4988 | 83.497  |
| Wilson High School    | 83.0856 | 83.7244 | 83.1953 | 83.0358 |
| Wright High School    | 83.2647 | 84.0103 | 83.8368 | 83.645  |

In [ ]:
# Calculate the average math score for 9th grade in each school
######### Check Line 61 #########

In [ ]:
# Calculate the average math score for 10th grade in each school

######### Check Line 61 #########

In [ ]:
# Calculate the average math score for 11th grade in each school

######### Check Line 61 #########

In [ ]:
# Calculate the average math score for 12th grade in each school

######### Check Line 61 #########

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [63]:
# Create table that lists the average reading score for each school of each grade level.
ninth_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()


reading_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th': tenth_grade_reading_scores,
    '11th': eleventh_grade_reading_scores,
    '12th': twelfth_grade_reading_scores
})


print("\nAverage Reading Score by Grade:")
print(reading_scores_by_grade.to_markdown(numalign="left", stralign="left"))

Average Reading Score by Grade:
| school_name           | 9th     | 10th    | 11th    | 12th    |
|:----------------------|:--------|:--------|:--------|:--------|
| Bailey High School    | 81.3032 | 80.9072 | 80.9456 | 80.9125 |
| Cabrera High School   | 83.6761 | 84.2532 | 83.7884 | 84.288  |
| Figueroa High School  | 81.1986 | 81.4089 | 80.6403 | 81.3849 |
| Ford High School      | 80.6327 | 81.2627 | 80.4036 | 80.6623 |
| Griffin High School   | 83.3692 | 83.7069 | 84.2881 | 84.0137 |
| Hernandez High School | 80.8669 | 80.6601 | 81.3961 | 80.8571 |
| Holden High School    | 83.6772 | 83.3246 | 83.8155 | 84.6988 |
| Huang High School     | 81.2903 | 81.5124 | 81.4175 | 80.306  |
| Johnson High School   | 81.2607 | 80.7734 | 80.616  | 81.2276 |
| Pena High School      | 83.8073 | 83.612  | 84.3359 | 84.5912 |
| Rodriguez High School | 80.9931 | 80.6298 | 80.8648 | 80.3764 |
| Shelton High School   | 84.1226 | 83.442  | 84.3738 | 82.7817 |
| Thomas High School    | 83.7289 | 84.2542 | 83.5855 | 83.8314 |
| Wilson High School    | 83.9398 | 84.0215 | 83.7646 | 84.3177 |
| Wright High School    | 83.8333 | 83.8128 | 84.1563 | 84.0732 |

In [ ]:
# Calculate the average reading score for 9th grade in each school

######### Check Line 63 #########

In [ ]:
# Calculate the average reading score for 10th grade in each school

######### Check Line 63 #########

In [ ]:
# Calculate the average reading score for 11th grade in each school

######### Check Line 63 #########

In [ ]:
# Calculate the average reading score for 12th grade in each school

######### Check Line 63 #########

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [69]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [65]:
# Create a new column to show budget per student in each row
school_data_complete['budget_per_student'] = school_data_complete['budget'] / school_data_complete['size']

In [71]:
# Create a new column to define the spending ranges per student
school_data_complete['spending_range_per_student'] = pd.cut(school_data_complete['budget_per_student'], spending_bins, labels=group_names)

In [77]:
# Calculate the average math score within each spending range
avg_math_score_by_spending = school_data_complete.groupby('spending_range_per_student')['math_score'].mean()

print("\nAverage Math Score by Spending Range:")
print(avg_math_score_by_spending.to_markdown(numalign="left", stralign="left"))

Average Math Score by Spending Range:
| spending_range_per_student   | math_score   |
|:-----------------------------|:-------------|
| <$585                        | 83.3631      |
| $585-615                     | 83.5292      |
| $615-645                     | 78.0616      |
| $645-675                     | 77.0493      |

C:\Users\raoul\AppData\Local\Temp\ipykernel_30656\2770379729.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_math_score_by_spending = school_data_complete.groupby('spending_range_per_student')['math_score'].mean()

In [79]:
# Calculate the percentage passing rate for math in each spending range
passing_math_percent_by_spending = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_range_per_student')['student_name'].count() / school_data_complete.groupby('spending_range_per_student')['student_name'].count() * 100

print("\nPercentage Passing Math by Spending Range:")
print(passing_math_percent_by_spending.to_markdown(numalign="left", stralign="left"))

Percentage Passing Math by Spending Range:
| spending_range_per_student   | student_name   |
|:-----------------------------|:---------------|
| <$585                        | 93.7029        |
| $585-615                     | 94.1241        |
| $615-645                     | 71.4004        |
| $645-675                     | 66.2308        |

C:\Users\raoul\AppData\Local\Temp\ipykernel_30656\2087746953.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passing_math_percent_by_spending = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_range_per_student')['student_name'].count() / school_data_complete.groupby('spending_range_per_student')['student_name'].count() * 100

In [81]:
# Calculate the percentage passing rate for reading in each spending range
passing_reading_percent_by_spending = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_range_per_student')['student_name'].count() / school_data_complete.groupby('spending_range_per_student')['student_name'].count() * 100

print("\nPercentage Passing Reading by Spending Range:")
print(passing_reading_percent_by_spending.to_markdown(numalign="left", stralign="left"))

Percentage Passing Reading by Spending Range:
| spending_range_per_student   | student_name   |
|:-----------------------------|:---------------|
| <$585                        | 96.6866        |
| $585-615                     | 95.8869        |
| $615-645                     | 83.6148        |
| $645-675                     | 81.1094        |

C:\Users\raoul\AppData\Local\Temp\ipykernel_30656\4274330541.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passing_reading_percent_by_spending = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_range_per_student')['student_name'].count() / school_data_complete.groupby('spending_range_per_student')['student_name'].count() * 100

In [83]:
# Calculate the percentage overall passing rate in each spending range
overall_passing_percent_by_spending = (passing_math_percent_by_spending + passing_reading_percent_by_spending) / 2

print("\nOverall Passing Rate by Spending Range:")
print(overall_passing_percent_by_spending.to_markdown(numalign="left", stralign="left"))

Overall Passing Rate by Spending Range:
| spending_range_per_student   | student_name   |
|:-----------------------------|:---------------|
| <$585                        | 95.1947        |
| $585-615                     | 95.0055        |
| $615-645                     | 77.5076        |
| $645-675                     | 73.6701        |

### Scores by School Size

* Perform the same operations as above, based on school size.

In [85]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [87]:
# Create a new column for the bin groups
school_data_complete['school_size_range'] = pd.cut(school_data_complete['size'], size_bins, labels=group_names)

Look for the total count of test scores that pass 70% or higher

In [89]:
# math_pass_size
passing_math_counts_by_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_size_range')['student_name'].count()

print("\nTotal Count of Passing Math Scores by School Size:")
print(passing_math_counts_by_size.to_markdown(numalign="left", stralign="left"))

Total Count of Passing Math Scores by School Size:
| school_size_range   | student_name   |
|:--------------------|:---------------|
| Small (<1000)       | 1305           |
| Medium (1000-2000)  | 7978           |
| Large (2000-5000)   | 20087          |

C:\Users\raoul\AppData\Local\Temp\ipykernel_30656\3970704828.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passing_math_counts_by_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_size_range')['student_name'].count()

In [91]:
# read_pass_size
passing_reading_counts_by_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_size_range')['student_name'].count()

print("\nTotal Count of Passing Reading Scores by School Size:")
print(passing_reading_counts_by_size.to_markdown(numalign="left", stralign="left"))

Total Count of Passing Reading Scores by School Size:
| school_size_range   | student_name   |
|:--------------------|:---------------|
| Small (<1000)       | 1334           |
| Medium (1000-2000)  | 8247           |
| Large (2000-5000)   | 24029          |

C:\Users\raoul\AppData\Local\Temp\ipykernel_30656\1172805759.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  passing_reading_counts_by_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_size_range')['student_name'].count()

In [93]:
# Calculate the overall passing rate for different school size
overall_passing_rate_by_size = (passing_math_counts_by_size + passing_reading_counts_by_size) / school_data_complete.groupby('school_size_range')['student_name'].count() * 100

print("\nOverall Passing Rate by School Size:")
print(overall_passing_rate_by_size.to_markdown(numalign="left", stralign="left"))

Overall Passing Rate by School Size:
| school_size_range   | student_name   |
|:--------------------|:---------------|
| Small (<1000)       | 189.993        |
| Medium (1000-2000)  | 190.39         |
| Large (2000-5000)   | 150.778        |

C:\Users\raoul\AppData\Local\Temp\ipykernel_30656\1736385657.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_rate_by_size = (passing_math_counts_by_size + passing_reading_counts_by_size) / school_data_complete.groupby('school_size_range')['student_name'].count() * 100

### Scores by School Type

* Perform the same operations as above, based on school type.

In [95]:
# Create bins and groups, school type {'Charter', 'District'}
school_type_bins = [-np.inf, 0, np.inf]  # Using -inf and inf to include all values
group_names = ["Charter", "District"]

school_data_complete['school_type_range'] = pd.cut(pd.factorize(school_data_complete['type'])[0], bins=school_type_bins, labels=group_names)

Find counts of the passing 70 or higher score for the both test

In [97]:
# math pass size
passing_math_counts_by_type = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['student_name'].count()


print("\nTotal Count of Passing Math Scores by School Type:")
print(passing_math_counts_by_type.to_markdown(numalign="left", stralign="left"))

Total Count of Passing Math Scores by School Type:
| type     | student_name   |
|:---------|:---------------|
| Charter  | 11426          |
| District | 17944          |

In [99]:
# reading pass size
passing_reading_counts_by_type = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['student_name'].count()

print("\nTotal Count of Passing Reading Scores by School Type:")
print(passing_reading_counts_by_type.to_markdown(numalign="left", stralign="left"))

Total Count of Passing Reading Scores by School Type:
| type     | student_name   |
|:---------|:---------------|
| Charter  | 11785          |
| District | 21825          |

In [101]:
# Calculate the overall passing rate
overall_passing_rate_by_type = (passing_math_counts_by_type + passing_reading_counts_by_type) / school_data_complete.groupby('type')['student_name'].count() * 100

print("\nOverall Passing Rate by School Type:")
print(overall_passing_rate_by_type.to_markdown(numalign="left", stralign="left"))

Overall Passing Rate by School Type:
| type     | student_name   |
|:---------|:---------------|
| Charter  | 190.348        |
| District | 147.424        |